@import "tailwindcss";

@theme {
  --color-primary: #4CAF50;
  --color-primary-light: #f0fdf4;
  --color-secondary: #03a9f4;
  --color-bg-soft: #F0FDF4;
  --color-search-bg: #F1F5F9;
  
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-3xl: 3rem;
}

body {
  @apply bg-[#F0FDF4] text-slate-800 font-sans;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}
